/* header CSS */
.headerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.userHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 270px;
}

.headerLogo{
    width: 80px;
    height: auto;
}

