@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html, body{
  font-family: "Nanum Gothic" , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}