@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html, body{
    font-family: "Nanum Gothic" , sans-serif;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
